# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv
ENV

# IDE
.idea
.vscode
*.swp
*.swo

# Docs
*.md
!README.md

# Docker
Dockerfile
docker-compose*.yml

# Environment
.env
.env.*
!env.sample

# Tests
tests
*.test.py

# Misc
.DS_Store
*.log
